* {
  padding: 0;
  margin: 0 auto;
}
body {
  height: 1000px;
  width: 1000px;
  padding-top: 50px;
}
h1 {
  text-align: center;
}
.container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.square {
  background-color: #9fc5f8;
  width: 190px;
  margin-right: 10px;
  margin-top: 10px;
  height: 190px;
  border: 5px solid #000;
}

.square1 {
  background-color: var(--c);
  width: 190px;
  margin-right: 10px;
  margin-top: 10px;
  height: 190px;
  border: 5px solid #000;
}
