* {
  margin: 0;
  padding: 0;
}

body {
  width: 500px;
  margin: 0 auto;
}
.card {
  padding: 2%;
  margin-top: 10%;
  width: 80%;
  height: 100px;
  border: 2px solid black;
}
.top {
  height: 40%;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  justify-content: space-between;
}
.btn {
  width: 15%;
  height: 60%;
  background-color: yellow;
  box-shadow: 3px 3px 0px black;
}
