<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <form action="/home/add_img" method="post" enctype="multipart/form-data" class="flex flex-col w-[10%] mx-auto mt-10">
        {% csrf_token %}
        <label for="img">image</label>
        <input type="file" name="img" id="" value="enter img" class="border-2 border-black">
        <input type="submit" name="" value="submit" id="">
    </form>

     {% if img %}
        <div class="mt-5 text-center">
            <h2 class="text-lg font-medium text-gray-700 mb-3">Uploaded Image:</h2>
            <img src="{{ img.img.url }}" alt="Uploaded Image" class="max-w-xs rounded-lg shadow-md mx-auto h-[500px]">
        </div>
    {% endif %}
</body>

</html>