body{
    width:700px;
    margin:0px auto;
    padding:0;
    padding-top: 100px;
}
table{
    border:15px solid burlywood;
    width: 100%;
    height: 300px;
    font-size: 22px;
}
thead tr {
    background-color: blueviolet;
    height: 50px;
}
tbody tr {
    background-color: bisque;
}
th,td{
    text-align: center;
}