<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <div class="info">
      <h2 style="text-decoration: underline">Submitted Info</h2>
      <div class="namefield">
        <label for="">Name:</label
        ><label for="">{{request.session.name}}</label>
      </div>
      <div class="locationfield">
        <label for="">Dojo Location</label
        ><label for="">{{request.session.Dojo_Location}}</label>
      </div>
      <div class="languagefield">
        <label for="">Favorite Language:</label
        ><label for="">{{request.session.Favorite_language}}</label>
      </div>
      <div class="gender">
        <label for="">gender:</label
        ><label for="">{{request.session.gender}}</label>
      </div>
      <div class="color">
        <label for="">Color chose:</label>
        {% for color in request.session.colors %}
        <label for="">{{color}}</label>
        {% endfor %}
      </div>
      <div class="commentfield">
        <label for="">Comment:</label>

        <label for="">{{request.session.comment}}</label>
      </div>
      <div class="btn1">
        <button>
          <a href="/" style="color: white; text-decoration: none">Go Back</a>
        </button>
      </div>
    </div>
  </body>
</html>
