<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    
  </head>
  <body>
    
    <div class="box">
        <form action="/plus2" method="post">
            {% csrf_token %}
            <h1>Counter</h1>
            <p>{{request.session.counter}} Times.</p>
            <button><a href="/destroy_session">Reset</a></button>
            <div>
                0<input type="range" min="1" step="1" name="range" value="50" id="range"  />100
                <button type="submit">add by <span id="value_to_be_added">50</span></button>
        </form>
      </div>
    </div>

     {% load static %}
    <script>
        var range_el=document.getElementById('range')
        var range_val=document.getElementById('value_to_be_added')

        range_val.textContent=range_el.value
        range_el.addEventListener('input', function() {
    range_val.textContent = this.value;
})
    </script>
  </body>
</html>
